<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!--Description-->
  <% if (page.description){ %>
  <meta name="description" content="<%= page.description %>">
  <% } else if (config.description){ %>
  <meta name="description" content="<%= config.description %>">
  <% } %>

  <!--Author-->
  <% if (config.author){ %>
  <meta name="author" content="<%= config.author %>">
  <% } %>

  <!--Open Graph Title-->
  <% if (page.title){ %>
      <meta property="og:title" content="<%= page.title %>"/>
  <% } else { %>
      <meta property="og:title" content="<%= config.title %>"/>
  <% } %>
  <!--Open Graph Description-->
  <% if (page.description){ %>
      <meta property="og:description" content="<%= page.description %>" />
  <% } else if (config.description) { %>
      <meta property="og:description" content="<%= config.description %>" />
  <% } %>
  <!--Open Graph Site Name-->
  <meta property="og:site_name" content="<%= config.title %>"/>
  <!--Type page-->
  <% if(page.title) { %>
      <meta property="og:type" content="article" />
  <% } else { %>
      <meta property="og:type" content="website" />
  <% } %>
  <!--Page Cover-->
  <% if (page.share_cover) { %>
      <meta property="og:image" content="<%= config.url %><%= page.share_cover %>" />
  <% } else if (config.cover) { %>
      <meta property="og:image" content="<%= config.url %><%= config.cover %>"/>
  <% } %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Title -->
  <%
  var title = [];
  if (page.title) title.push(page.title);
  if (page.category) title.push(page.category);
  if (page.tag) title.push(page.tag);
  if (page.archive) {
      if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
      else title.push(__('archive_a'));
  }
  title.push(config.title);
  if (is_home() && config.subtitle) title.push(config.subtitle);
  %>
  <title><%= title.join(' - ') %></title>


  <link rel="shortcut icon" href="<%- url_for(config.favicon || theme.favicon) %>">

  <!-- Custom CSS/Sass -->
  <%- css('css/style') %>

  <script src="../https.js" type="text/javascript"></script>

</head>
